p {
  display: inline-block;
}

input {
  height: 250px;
  width: 30px;
  /* Orient vertically */
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
}

.result {
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}