<div [ngSwitch]="id">
  <div  *ngSwitchCase="1"><app-powerofdatarounded></app-powerofdatarounded></div>
  <div  *ngSwitchCase="2"><app-drawingsvgscolor></app-drawingsvgscolor></div>
  <div  *ngSwitchCase="3"><app-makingbarchart></app-makingbarchart></div>
  <div  *ngSwitchCase="4"><app-scatterplot></app-scatterplot></div>
  <div  *ngSwitchCase="5"><app-scale></app-scale></div>
  <div  *ngSwitchCase="6"><app-axisscatterplot></app-axisscatterplot></div>
  <div  *ngSwitchCase="7"><app-axistime></app-axistime></div>
  <div  *ngSwitchCase="8"><app-axistimeformat></app-axistimeformat></div>
  <div  *ngSwitchCase="9"><app-transitionduration></app-transitionduration></div>
  <div  *ngSwitchCase="10"><app-easing></app-easing></div>
  <div  *ngSwitchCase="11"><app-delaydynamic></app-delaydynamic></div>
  <div  *ngSwitchCase="12"><app-delaydynamicrandom></app-delaydynamicrandom></div>
  <div  *ngSwitchCase="13"><app-axisscatterplotdynamic></app-axisscatterplotdynamic></div>
  <div  *ngSwitchCase="14"><app-on></app-on></div>
  <div  *ngSwitchCase="15"><app-addandremove></app-addandremove></div>
  <div  *ngSwitchCase="16"><app-sort></app-sort></div>
  <div  *ngSwitchCase="17"><app-tooltip></app-tooltip></div>
</div>
